/*affects every element on the page*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #d9dcd6;
}
/*changed to fit html semantic change */
/*addresses both the logo in the top left of the page and the navbar on the top right*/
header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}
/*addresses the logo in the top left of the page*/
header h1 {
  display: inline-block;
  font-size: 48px;
}
/*addresses the grey part of logo in the top left of the page*/
header h1 .seo {
  color: #d9dcd6;
}
/*addresses the container holding links in the header*/
header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}
/*addresses the links in the header*/
header nav ul {
  list-style-type: none;
}
/*addresses the individual links in the header*/
header nav ul li {
  display: inline-block;
  margin-left: 25px;
}
/*addresses all links*/
a {
  color: #ffffff;
  text-decoration: none;
}
/*affects all non-header text*/
p {
  font-size: 16px;
}
/*addresses the main image at the top of the webpage*/
figure {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}
/*affects the image placements in the main content*/
.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}
/*affects the main content at the bottom middle of the page*/
main {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

/*changed to affect html change to semantic aside*/
/*addresses the content on the lower right side of the page*/
aside {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}
/*Consolidated .benefits into one*/
/*addresses the content on the lower right side of the page*/
.benefit-content {
  margin-bottom: 32px;
  color: #ffffff;
}

/*Consolidated .benefits into one*/
/*addresses the header text on the lower right side of the page*/
.benefit-content h3 {
  margin-bottom: 10px;
  text-align: center;
}

/*Consolidated .benefits into one*/
/*addresses the image content on the lower right side of the page*/
.benefit-content img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

/*consolidated all selectors into one*/
/*addresses the main content in the lower center of the page*/
.main-content {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}
/*consolidated all selectors into one*/
/*addresses the main content images in the lower center of the page*/
.main-content img {
  max-height: 200px;
}
/*consolidated all selectors into one*/
/*addresses the main content headers in the lower center of the page*/
.main-content h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

/*changed to affect html change to semantic footer*/
/*addresses the footer at the bottom of the page*/
footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}
/*addresses the header text on the footer at the bottom of the page*/
footer h2 {
  font-size: 20px;
}
